* {
	margin: 0px;
	padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    font-size: 1.0em;
    scroll-behavior: smooth;
}

p {
	color: #515151;
}
h1 {
	color: #2d425e;
    font-size: 29px;
    font-weight: bold;
}
h5 {
	color: #969696;
    font-weight: normal;
}

a:link,
a:active,
a:focus,
a:visited,
a:hover {
	color: unset;
	text-decoration: none;
}
button > span > a{
	color: unset;
}
a[href^="mailto:"]
{ 
  color: unset;
}

footer {
	background: #ffe299;
	min-height: 2%;
	margin-top: 10%;
}

#container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen   
	and (min-device-width : 320px)   
	and (max-device-width : 480px) {

	body {
		line-height: 40px;
	}
	#navbar {
		display: flex;
		background: #f4f4f4;
		height: 80px;
		align-items: center;
		flex-direction: column;
		width: 100%;
		position: sticky;
		-webkit-position: sticky;
		/* negative top allows for 16 pixels of movement before sticking */
		top: -16px; 
		/* make sure header overlaps main*/
		z-index: 1;
	}

	nav {
		display: flex;
		background: #f4f4f4;
		width: 80%;
		flex: 1;

	}

	#nav-links {
		display: flex;
	    list-style-type: none;
	    justify-content: space-between;
	    align-items: center;
	    margin-bottom: 0px;
	}

	#nav-links > li > a {
		color: #2d425e;
	}
	#nav-links > li > a:hover {
		text-decoration: none;
		color: #ffba00;
	}

	#logo {
		display: none;
	}

	nav > ul {
		flex: 1;
	}

	#base {
		width: 80%;
		flex: 1;
		align-self: center;
	}

	#home {
		padding: 30% 0 0 0;
		display: flex;
		flex-direction: column;
	}
	#home > p {
		line-height: 25px;
		padding: 5% 0 5% 0;
	}
	#home > p > strong {
		color: #ffba00;
	}
	#home > button {
		margin: 10% 0 0 0;
		padding: 5%;
		background: white;
		border: 1px solid #ffba00;
		color: #ffba00;
	}

	#intro > img {
		width: 100%;
		margin-bottom: 10%;
	}
	#intro > img:nth-child(2) {
		display: none;
	}


	/* ---------- ABOUT ME  ------------- */

	#aboutme {
	    flex: 1;
	    display: flex;
	    background: #f4f4f4;
	    align-items: center;
	    flex-direction: column;
	    margin-top: 10%;
	    padding: 15% 0 15% 0;
	}

	#paragraaf {
		text-align: center;
	    width: 80%;
	}
	#paragraaf > h1 {
		margin-bottom: 15%;
	}
	#paragraaf > h5 {
		margin-bottom: 5%;
	}
	#paragraaf > p { 
		text-align: justify;
	}

	/* --------- kenmerken ---------- */

	#foto {
		display: none;
	}
	#naam {
		padding: 15% 0 0 0;
	    color: #2d425e;
	    font-size: 2em;
	    font-weight: bold;
	}

	#kenmerken {
		display: flex;
		flex-direction: row;
		text-align: left;
	}

	#gegevens {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}


	.data {
		list-style-type: none;
		flex: 1 0 50%;
	}
	.skills {
		flex: 1 0 33%;
	}
	.antwoord {
		color: #969696;
	}

	.kopstuk {
		flex: 1 0 100%;
		padding: 15% 0 0 0;
		color: #969696;
		font-weight: bold;
	}

	/* ----------- PORTFOLIO ------------ */

	#portfolio {
	    display: flex;
	    background: red;
	    align-items: center;
	    flex-direction: column;
	}

	#projects {
		background: blue;
		width: 80%;
	}
}


/* --------- ALL IPADS ---------------- */

@media only screen   
and (min-device-width : 481px)   
and (max-device-width : 1024px) {

}
